# Configuracion de Azure Storage (Blob)
AZURE_STORAGE_SAS_URL=tu_url_de_sas_completa_aqui

# Configuracion de Azure Database for PostgreSQL
DB_HOST=tu_servidor.postgres.database.azure.com
DB_NAME=lending_club_project
DB_USER=tu_usuario
DB_PASS=tu_contrasena
